body {
color:red;
background-color: mediumpurple;

}

#FloatDiv{
　width:200px;
　height:120px;
　margin-right:10px;
　float:left;
}

div{
	margin-left:auto;
	margin-right:auto;
}

@media screen and (min-width: 600px){
	body{
		background-color: pink;
	}
}

float{
	float: left;
}

floattop{
	float: top;
}

floatright{
	float: right;
}

textarea{
	float:right;
}

img{
	size:50%;
	width:50%}

space {
		margin-left: 2%;
}


.table{display:table}

.tr {display: table-row;}

.th {display: table-cell;}

.td {display: table-cell;}
